@model IEnumerable<AutoShop.Models.Actia>

@{
    ViewBag.Title = "Акции";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Акции</h2>

<p>
@if (ViewBag.Administration)
{
    @Html.ActionLink("Добавить", "Create")
}
</p>
<div class="panel panel-success">
   @foreach (var item in Model)
   {
    <!-- Default panel contents -->
    <div class="panel-heading">
       Название: @Html.DisplayFor(modelItem => item.name)
   
    </div>
    <div class="panel-body">
               
        <p>Дата: @Html.DisplayFor(modelItem => item.date) </p>
        <p>Описание:@Html.DisplayFor(modelItem => item.description)</p>
        <p>
            @if (ViewBag.Administration)
            {
                @Html.ActionLink("Редактировать ", "Edit", new { id = item.id })  @Html.ActionLink("Удалить", "Delete", new { id = item.id })
            }
            @*   @Html.ActionLink("Details", "Детали", new { id=item.id }) | *@
        </p> 
    </div>
   }
     
</div>