@model AutoShop.Models.InfoVisit

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Добавление посещения</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <fieldset>
       
            <h2>Запись пользователя</h2>
            @Html.HiddenFor(model => model.Id)
            <p> Дата <div style="color:#000000">  @Html.EditorFor(model => model.VisitDate) </div> </p>
            <p> Пользователь <div style="color:#000000">  @Html.DropDownListFor(model => model.ApplicationUserId, ViewBag.Users as SelectList) </div> </p>
            <p> <input style="color:#000000" type="submit" value="Добавить посещение" /></p>
       
</fieldset> 
} 
<div> 
    @Html.ActionLink("К списку посещений", "Visits") 
    </div>