@model AutoShop.Models.EditUsersModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактировать данные профиля</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, "")
        <div>
            @Html.HiddenFor(model => model.Email)
            <p>ФИО: @Html.EditorFor(model => model.FIOName)</p>
            <p>Посещения: @Html.EditorFor(model => model.Visits)</p>
            <p>Скидка: @Html.EditorFor(model => model.Discount)</p>
        </div>
        <div>
            <div>
                <input type="submit" value="Сохранить" />
            </div>
        </div>
    </div>
}