@model IEnumerable<AutoShop.Models.ApplicationUser>

@{
    ViewBag.Title = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>
<h4>@Html.ActionLink("Посещения", "Visits", "Roles")</h4>
<table class="table">
    <tr>
        <th>Ф.И.О.</th>
        <th>Email</th>
        <th>Количество посещений</th>
        <th>Скидка</th>
        <th>Номер телефона</th>
    </tr>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.FIOName</td>
                <td>@item.Email </td>
                <td>@item.Visits </td>
                <td>@item.Discount </td>
                <td>@item.ClientsPhoneNumber </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Roles", new { email = item.Email }, null) |
                        @Html.ActionLink("Удалить", "Delete", "Roles", new { email = item.Email }, null)
                </td>
            </tr>
        }
</table>