@model IEnumerable<AutoShop.Models.Contact>

@{
    ViewBag.Title = "Наши контакты";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Наши контакты</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            Адрес
        </th>
        <th>
            Телефон
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
        @if (ViewBag.Administration)
        {
            @Html.ActionLink("Редактировать ", "Edit", new { id = item.id }) 
        }
         @*   @Html.ActionLink("Details", "Details", new { id=item.id }) |*@
           @* @Html.ActionLink("Delete", "Delete", new { id=item.id }) *@
        </td>
    </tr>

    
        
    
}
   
</table>
 @*                   
<body>
<p><img src="~/Images/УИваныча.png" alt="Рисунок"></p>
</body>
     *@
                      <a class="dg-widget-link" href="http://2gis.ru/omsk/firm/282003258447432/center/73.339386,54.978297/zoom/16?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=bigMap">Посмотреть на карте Омска</a><div class="dg-widget-link"><a href="http://2gis.ru/omsk/center/73.339386,54.978297/zoom/16/routeTab/rsType/bus/to/73.339386,54.978297╎У Иваныча, ООО, автосервис?utm_medium=widget-source&utm_campaign=firmsonmap&utm_source=route">Найти проезд до У Иваныча, ООО, автосервис</a></div>
                      <script charset="utf-8" src="http://widgets.2gis.com/js/DGWidgetLoader.js"></script>
                      <script charset="utf-8">new DGWidgetLoader({"width":640,"height":600,"borderColor":"#a3a3a3","pos":{"lat":54.978297,"lon":73.339386,"zoom":16},"opt":{"city":"omsk"},"org":[{"id":"282003258447432"}]});</script><noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>                 