@model IEnumerable<AutoShop.Models.Employees>

@{
    ViewBag.Title = "Работники";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
                      <div style="background-color:#333">
                          <h2>Работники</h2>

                          <p>
                              @if (ViewBag.Administration)
                              {
                                  @Html.ActionLink("Добавить", "Create")
                              }
                          </p>
                          <table class="table">
                              <tr>
                                  <th>
                                      ФИО
                                  </th>
                                  <th>
                                      Специализация
                                  </th>
                                  <th>
                                      Телефон
                                  </th>
                                  <th></th>
                              </tr>

                              @foreach (var item in Model)
                              {
                                  <tr>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.fio)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.jobProfile)
                                      </td>
                                      <td>
                                          @Html.DisplayFor(modelItem => item.phone)
                                      </td>
                                      <td>
                                          @if (ViewBag.Administration)
                                          {
                                              @Html.ActionLink("Редактировать ", "Edit", new { id = item.id })
                                              @*   @Html.ActionLink("Details", "Details", new { id=item.id }) | *@
                                              @Html.ActionLink("Удалить", "Delete", new { id = item.id })
                                          }
                                      </td>
                                  </tr>
                              }
                          </table>
                          </div>
